main > section:nth-child(1){
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-height: 230px;
    h1{
        font-weight: 650;
        line-height: 1;
    }
    p{
        opacity: 0.75;
        font-size: 1.2rem;
    }

    form{
        max-width: 52.5rem;
        width: 100%;
    }

    form > div:last-child{
        display: flex; 
        justify-content: flex-start;
        width: 100%;
        gap: 0.5rem;
        padding-left: 0;
        flex-wrap: wrap;
        background-color: transparent;
        border: none;
        box-shadow: none;
    }

    select{
        background-color: var(--input-bg);
        padding: 0.4rem 0.4rem;
        border: none;
        border-radius: 4px;
        color: white;
    }
}

main > section:nth-child(2){
    display: flex;
    flex-direction: column;
    
    div{
        max-width: 50rem;
        border-radius: 0;
        align-self: center;
    }

    h3{
        font-size: 1.5rem;
        margin-bottom: 1rem;
        align-self:self-start;
    }

    div > article{
        display: flex;
        flex-direction: row;
        background-color: var(--background);
        border: 1px solid var(--border);
        border-radius: 0;
        max-width: 50rem;
        width: 100%;
        margin: 0;
        text-align: start;
        min-height: fit-content;
    }

    article > div{
        
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    div > p:nth-child(2){
        opacity: .75;
    }

    div > p:nth-child(3){
        line-height: 1.3;
    }


    button{
        padding: .75rem 1.5rem;
        background-color: var(--primary-light);
        border: none;
        align-self: flex-start;
        color: white;
        font-weight: 600 !important;
        border-radius: 8px;
        cursor: pointer;
        font-weight: 500;
    }

    button:hover{
        background-color: var(--primary-dark);
    }
}



