main > section:nth-child(1){
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    h1{
        font-weight: 650;
        line-height: 1;
    }
    p{
        opacity: 0.75;
        font-size: 1.2rem;
    }

    form > div:last-child{
        display: flex; 
        justify-content: flex-start;
        width: 100%;
        gap: 1rem;
        flex-wrap: wrap;
        background-color: transparent;
        border: none;
        box-shadow: none;
    }

    
}



