main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    & > div:nth-child(1){
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        max-width: 700px;
        width: 100%;
        margin-top: 6rem;
    }
    h2{
        font-size: 2rem;
        
    }
    h3{
        align-self: self-start;
        font-size: 1.5rem;
    }

    & div:nth-child(2){
        max-width: 700px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap:1rem
    }
    small{
        color: var(--text-muted);
        font-size: 1rem;
    }

    button{
        width: 7rem;
        height: 2.5rem;
        border-radius: 8px;
        background-color: var(--primary-light);
        border: none;
        color: white;
        font-weight: 700;
        transition: color 0.2s;
        cursor: pointer;
        align-self: flex-end;

    };

    button:hover{
        background-color: var(--primary-hover);
    }
}